.container {
  padding: 20px 10px 10px 10px;
  box-shadow: 2px 3px 17px -4px #a6a6a6;
  width: 100%;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;

  input,
  button {
    margin-top: 10px;
  }
}
